<footer class="footer has-text-weight-light">
  <div class="container">
    <div class="content has-text-centered">
      <p class="is-size-6"><a href="/">Home</a> &middot <a href="/blog">Blog</a></p>
      {% include social-stacks.html %}
      <p class="is-size-7">Website maintained by <a href="https://github.com/burden">@burden</a><br />The contents of this website are &copy; 2019 under the terms of the MIT License.</p>
      <p>
        <a href="https://github.com/{{ site.github_repo }}" class="button is-outlined is-small"
          ><span>view source</span><span class="icon"><i class="fab fa-github"></i></span
        ></a>
      </p>
    </div>
  </div>
</footer>
