<footer class="footer has-text-weight-light">
  <div class="container">
    <div class="content has-text-centered">
      <p class="is-size-6"><a href="/">Home</a> &middot <a href="/hullabaloo">Blog</a></p>
      <p class="is-size-6">
        <a class="has-secret-mailto" target="_blank">
          <span class="icon is-medium">
            <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
          </span>
        </a>
        <a href="https://keybase.io/{{ site.keybase_username }}" target="_blank">
          <span class="icon is-medium">
            <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-key fa-stack-1x fa-inverse"></i>
            </span>
          </span>
        </a>
        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
          <span class="icon is-medium">
            <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </span>
        </a>
        <a href="https://github.com/{{ site.github_username }}" target="_blank">
          <span class="icon is-medium">
            <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-github-alt fa-stack-1x fa-inverse"></i>
            </span>
          </span>
        </a>
        <a href="{{ "/feed.xml" | relative_url }}" target="_blank">
          <span class="icon is-medium">
            <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
            </span>
          </span>
        </a>

      </p>
      <p class="is-size-7">The contents of this website are &copy; 2018 under the terms of the MIT License.</p>
      <p class="is-size-6"><a href="https://github.com/{{ site.github_repo }}" class="button is-small"><span>view source</span><span class="icon"><i class="fab fa-github"></i></span></a></p>
    </div>
  </div>
</footer>
