<div class="container">
  <div class="navbar-brand" role="navigation" aria-label="main navigation">
    <div class="navbar-item is-hidden-desktop{% if page.path == 'index.html' %} hide{% endif %}">
      {% asset burdencc-sm.png alt="burden.cc" %}
    </div>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span> <span aria-hidden="true"></span> <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navbarBasicExample">
    <div class="navbar-centered">
      <a class="navbar-item" href="/">
        <span class="icon"> <i class="fas fa-home"></i> </span>
      </a>

      <a class="navbar-item has-text-weight-semibold" href="/blog">Blog</a>
    </div>
  </div>
</div>
