<section class="section section-normalize section-personal-intro bg-mustard">
  <div class="container has-text-centered">
    <div class="columns is-gapless is-centered">
      <div class="column is-8 is-offset-2">
        <div class="content has-text-weight-normal">
          <h2 class="title is-4-mobile is-3-desktop has-text-white has-text-weight-bold">Pleased to meet you.</h2>
          <p>
            I'm a Mike with one of those last names you won't know how to say or remember how to spell. I've spent my career surrounded by technology, wearing a multitude of hats-- most notably Customer Service and Software Engineer.
          </p>
          <h2 class="title is-5 has-text-white has-text-weight-bold">What's in a name?</h2>
          <p>
            I've been a contributing netizen since 1998, when it was common to use a self appointed handle. Paying homage to the lessons of duality, "burden" always seemed appropriate as a reminder to
            stay humble.
          </p>
        </div>
      </div>
    </div>
    <hr />
  </div>
</section>
