<section class="hero is-fullheight section-hero-home">
  <div class="hero-head" style="background-color: #066580">
    <header class="navbar is-primary">{% include navbar-guts-centered.html %}</header>
  </div>
  <div class="hero-body bg-mustard-tiger">
    <div class="container">
      {% asset burdencc.png alt="burden.cc" %}
      <h2 class="subtitle has-text-weight-light is-5 has-text-white-ter">
        ...infinite possibilities
      </h2>
      {% include social-stacks.html large=true %}
    </div>
  </div>
</section>