---
layout: default
---
<section class="section">
  <div class="container">
    <div class="content">
      {{ content }}
      {%- if site.posts.size > 0 -%}
          {%- for post in site.posts -%}
          <div class="box">
            <p class="title is-3"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></p>
            <p class="subtitle is-5">{{ post.date | date: "%b %-d, %Y" }}</p>
            {{ post.excerpt }}
          </div>
          {%- endfor -%}
        <p>subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      {%- endif -%}
    </div>
  </div>
</section>
